body {
  background-image: url("..//img/whitebground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.carousel-caption {

}

.verderKnop {
  float: right;
  margin-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  border: solid black 1px;
  border-radius: 10px;
}

.terugKnop {
  float: left;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border: solid black 1px;
  border-radius: 10px;
}

.onderkant {
  margin-top: 2px;
  border: solid black;
  background-color: #ebebe0;
  padding-bottom: 200px;
}

#ba-tekst {
  font-family: monospace;
}


#artiesten {
  /* margin-top: 60px; */
  margin: 15px;
  border: solid black 2.5px;
}


#welkom {
  /* margin-top: 60px; */
  margin: 10px;
  margin-left: 25px;
  border: solid black 2.5px;
}

#indexContainer {
  background-color: #f52c2d;
  border: solid black;

}


#SnowContainer {
  background-color: #46D6E3;
  border: solid black;
}

#EgbertContainer {
  border: solid black;
  background-color: #DD003F;
}

#fishContainer {
  border: solid black;
  background-color: black;
  color: white;
}

#royContainer {
  border: solid black;
  background-color: #ff1b00;
  color: white;
}

#bankContainer {
  border: solid black;
  background-color: #262626;
  color: white;
}

.col-lg-3,.col-lg-5, .col-lg-4, .col-lg-8, .col-lg-6 {
  margin-top: 20px;
  /* margin-left: 1%; */
  display: inline-block;
  vertical-align: top;
}

.borderBox {
  /* border: solid black; */
  background-color: White;
}

.boxBorder {
  color: White;
}

.indexBox {
  background-color: #f8f745;
}

.EgbertBox {
  color: white;
  background-color: #343a40;
}

.fishBox {
  background-color: #fb7100;
}

.RoyBox {
  background-color: #ff1b00;
}

.bankBox {
  background-color: #F8B507;
  color: black;
}

.BilalBox {
  border: solid black;
  height: 200px;
  background-color: white;
  color: red;

}

.BabyBox {
  border: solid black;
  height: 200px;
  background-color: purple;
  color: yellow;
}

.BallinBox {
  border: solid black;
  height: 200px;
  background-color:#292929;
  color: red;
}

.sbmgBox {
  border: solid black;
  height: 200px;
  background-color:#401202;
  color: white;
}

.bangalangBox {
  border: solid black;
  height: 200px;
  background-color:#0176dc;
  color: #06fc79;
}

.BenenRuurdBox {
  border: solid black;
  height: 200px;
  background-color:#ffd700;
  color: black;
}

.RarriBox {
  border: solid black;
  height: 200px;
  color:#a82b11;
  background-color: #0a6a56;
}

.DeanBox {
  border: solid black;
  height: 200px;
  background-color:#adf0ee;
  color: #ba2fed;
}

.MrowenBox {
  border: solid black;
  height: 200px;
  background-color:black;
  color: white;
}

.BizzeyBox {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  color: transparent;
  border: solid black;
  height: 200px;
}

.artiestenTekst {
  color: white;
  text-align: center;
}
#plaatje {
  width: 100%;
}

#plaatjeRechts {
  width: 100%;
  height: 200px;
  border: solid black;
}

#plaatjeLinks {
  width: 100%;
  height: 200px;
  border: solid black;
}

#plaatjeStapel {
  height: 207px;
  width: 100%;
  border: solid black;
}

#plaatjeSwikkerRechts {
  width: 100%;
  height: 207px;
  border: solid black;
}

#plaatjeHeld {
  height: 207px;
  width: 100%;
  border: solid black;
}

#plaatjeHeldChorus {
  height: 255px;
  width: 100%;
  border: solid black;
}



/* .plaatjeColRechts {
  padding-right: 0px;
} */


.trackBox {
  display: inline-block;
  height: 98px;
  text-align: center;
}

.tracks {
 width: inherit;
}


} */

.videoSnowboys {
  float: left;
  border: solid black;
}

.video {
  border: solid black;
}
  * {
    margin: 0;
    padding: 0;
  }

  /* body {
    background-image: url(img/whitebground.jpg);
  } */

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  /* formulier */
  .formulier {
    background-color: white;
  }

  .kajHeader{
    border: solid Black;
    background-color: #000ca3;
    color: white;
  }

  .kajRight {
    border: solid Black;
    background-color: #000ca3;
    color: white;
  }

  .kajLeft {
    border: solid #000ca3;
    background-color: black;
    color: white;
  }

  .GearHeader {
    border: solid red;
    background-color: yellow;
    color: red;
  }

  .gearLeft {
    border: solid yellow;
    background-color: red;
    color: yellow;
  }

  .gearRight {
    border: solid red;
    background-color: yellow;
    color: red;
  }

  .StapelgekHeader {
    border: solid #F8B507;
    background-color: #262626;
    color: #F8B507;
  }

  .StapelgekLeft {
    border: solid #F8B507;
    background-color: #262626;
    color: #F8B507;
  }

  .StapelgekRight {
    border: solid #F8B507;
    background-color: #262626;
    color: #F8B507;
  }

  .SwikkerHeader {
    border: solid #ee02c4;
    background-color: #02eedd;
    color: #ee02c4;
  }

  .SwikkerLeft {
    border: solid #02eedd;
    background-color: #ee02c4;
    color: #02eedd;
  }

  .SwikkerRight {
    border: solid #ee02c4;
    background-color: #02eedd;
    color: #ee02c4;
    height: 200px;
  }

  .HeldHeader {
    border: solid black;
    background-color: #8f0909;
    color: white;
  }

  .HeldLeft {
    border: solid #8f0909;
    background-color: white;
    color: #8f0909;
  }

  .HeldRight {
    border: solid black;
    background-color: #8f0909;
    color: white;
  }

  .HeldVideo {
    border: solid black;
    background-color: #8f0909;
    color: white;
    height: 200px;
  }



  nav {
    /* position: fixed; */
    width: 1169.8px;
    height: 45px;
    background-color: black;
    margin-top: 5px;
    border: solid black 3px;
    z-index: 1;
    }

.navbar-toggler-icon {

}

  nav ul {
    float: left;
  }

  nav ul li {
    float: left;
    list-style: none;
    position: relative;
  }

  nav ul li a {
    display: block;
    font-family: arial;
    color: black;
    font-size: 13px;
    padding: 9px 30px;
    background-color: #343a40;
    z-index: 1;
    position: relative;
    /* border: solid black 1.5px; */
  }

  nav ul li a:hover {
  background-color: #f3f3f3;
  }

  nav ul li ul {
    display: none;
    position: absolute;
    padding: 8px;
    border-radius: 0px 0px 4px 4px;
  }

  nav ul li:hover ul {
    display: block;
  }

  nav ul li ul li {
    width: 200px;
    border-radius: 4px;
  }

  nav ul li ul li a{
    padding: 12px 14;
  }

  nav ul li ul li a:hover {
    background--lgor: #f3f3f3;
  }
