body {
  background-image: url("..//img/whitebground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.verderKnop {
  float: right;
  margin-top: 10px;
  margin-right: 38px;
  padding-right: 5px;
  padding-left: 5px;
  border: solid black 1px;
  border-radius: 10px;
}

.terugKnop {
  float: left;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border: solid black 1px;
  border-radius: 10px;
}

.onderkant {
  margin-top: 2px;
  border: solid black;
  background-color: #ebebe0;
  padding-bottom: 200px;
}

#ba-tekst {
  font-family: monospace;
}

#header {
  border: solid black;
  margin-top: 5px;

}

#artiesten {
  /* margin-top: 60px; */
  margin: 15px;
  border: solid black 2.5px;
}


#welkom {
  /* margin-top: 60px; */
  margin: 10px;
  margin-left: 25px;
  border: solid black 2.5px;
}

.content {
  border: solid black;
}

.col-lg-3 {
  border: solid black 2.5px;
  margin: 20px;
}

.centerInfoText {
  border: solid black 2.5px;
  margin: 20px 5px;
}

.plaatjeBox {
  border: solid black 2.5px;
  text-align: center;
}

#plaatje {
  width: 100%;
}

#egbertimg {
  border: solid black 2.5px;
  margin-left: 220px;
  margin-top: -300px;
}

#fishimg {
  border: solid black 2.5px;
  margin-left: 220px;
  margin-top: -325px;
}

#royimg {
  border: solid black 2.5px;
  margin-left: 220px;
  margin-top: -323px;
}

#bankimg {
  border: solid black 2.5px;
  margin-left: 323px;
  margin-top: -323px;
}

#tekst {
  margin-top: 25px;
  margin-left: 30px;
  border: solid black 2.5px;
  height: 605px;
}


#bankzitters {
  margin-top: 25px;
  border: solid black 2.5px;
  height: 720px;
}

#bankmer {
  margin-top: 25px;
  margin-left: 30px;
  border: solid black 2.5px;
  height: 720px;
}

#bankTitle {
  border: solid black;
  margin-top: 60px;
  height: 865px;
}

#pokoeHeader {
  border: solid black;
  margin-top: 5px;
  height: 200px;
}

#kaj {
  margin-left: 795px;
  margin-top: -200px;
}

#kajHeader {
  border: solid black;
  float: right;
}

#kaj1 {
  border: solid black;
  float: left;
  margin-left: -15px;
}

#kajc1 {
  margin-top: 10px;
}

#kajVerse1 {
  border: solid black;
  margin-top: 5px;
  height: 200px;
  margin-left: 390px;
  margin-top: -200px;
}

#kajVerse2 {
  border: solid black;
  margin-top: 10px;
  height: 200px;
}

#kajc2 {
  margin-left: 795px;
  margin-top: -200px;
}

#kaj2 {
  border: solid black;
  float: right;
}

#kaj3 {
  border: solid black;
  float: left;
  margin-left: -15px;
}

#kajc3 {
  margin-top: 10px;
}

#kajDans {
  border: solid black;
  margin-top: 5px;
  height: 200px;
  margin-left: 390px;
  margin-top: -200px;
}

#kajVerse3 {
  border: solid black;
  margin-top: 10px;
  height: 200px;
}

#kajc4 {
  margin-left: 795px;
  margin-top: -200px;
}

#kaj4 {
  border: solid black;
  float: right;
}

.trackBox {
  height: 98px;
  text-align: center;
}

.tracks {
  position: absolute;
  left: 12%;
  bottom: 10%;
}

#royalistiq {
  margin-top: -100px;
}
#roy {
  border: solid black;
  margin-left: 25px;
}

#brent {
  float: right;
  border: solid black;
  margin-top: -240px;
  /* margin-left: 30px; */
}
#snow {
  float: left;
  border: solid black;
  margin-left: -315px;
}

.video {
  margin-top: 20px;
}
  * {
    margin: 0;
    padding: 0;
  }

  /* body {
    background-image: url(img/whitebground.jpg);
  } */

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }



  nav {
    /* position: fixed; */
    width: 1169.8px;
    height: 45px;
    background-color: white;
    margin-top: 5px;
    border: solid black 3px;
    z-index: 1;
    }

  nav ul {
    float: left;
  }

  nav ul li {
    float: left;
    list-style: none;
    position: relative;
  }

  nav ul li a {
    display: block;
    font-family: arial;
    color: black;
    font-size: 13px;
    padding: 9px 30px;
    background-color: white;
    z-index: 1;
    position: relative;
    /* border: solid black 1.5px; */
  }

  nav ul li a:hover {
  background-color: #f3f3f3;
  }

  nav ul li ul {
    display: none;
    position: absolute;
    padding: 8px;
    border-radius: 0px 0px 4px 4px;
  }

  nav ul li:hover ul {
    display: block;
  }

  nav ul li ul li {
    width: 200px;
    border-radius: 4px;
  }

  nav ul li ul li a{
    padding: 12px 14;
  }

  nav ul li ul li a:hover {
    background-color: #f3f3f3;
  }
